node_modules
.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
out/test/**
/out/
test/**
*.vsix
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map

# Ignore lock files
yarn.lock
package-lock.json