.eslintrc.json
.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
node_modules
**/*.map
*.log
*.lock
*.vsix
*.code-workspace
.gitignore
tsconfig.json
tslint.json
vsc-extension-quickstart.md
*.yml
webpack.config.js